# Omnitone NPM module must include only the production build and resource files.

.github/
doc/
examples/
pvt/
src/
test/

.eslintignore
.eslintrc.js
.gitignore
CONTRIBUTING.md
rollup.config.js
web-test-runner.config.mjs
