dist: trusty

language: node_js

node_js:
  - "9"

addons:
  apt:
    packages:
      - google-chrome-stable

install:
  - npm install

before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3

script:
  - npm run eslint
  - npm run build-all
  - npm test
